<div class="container" id='title_container'>
  <h1 id="mainTitle">Welcome to </h1>
  <h1 id="title">The Deku Tree!</h1>
</div>

<div class="container" id="pallete">

  <h2 id="store_info">We have all the best products from around the world! <br>Leave a review about an adventure item you have used, or check out what others have to say!</h2>

  <div class="row container" id="contentRows">

    <div class="col-8 products">
      <div class="subTitle">
        <h3 id="productHead">Available Products</h3>
      </div>

      <% if current_user.admin %>
      <p><%= link_to "Create new product", new_product_path %></p>
      <% end %>

      <% if @products.any? %>
      <ul>
        <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
      <% else %>
      <p>There are no products available :(</p>
      <% end %>


    </div>


    <div class="col-4 container">
      <div class="container extras">

        <h3>Here are our three most recently added products</h3>

        <% if Product.three_most_recent.any? %>
        <ul>
          <% Product.three_most_recent.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </ul>
        <% else %>
        <p>For some reason there are not three most recently added projects???</p>
        <% end %>
      </div>

      <div class="container extras">
        <h3>Here are our that were made in the USA</h3>

        <% if Product.usa.any? %>
        <div id="productCol">
          <% Product.usa.each do |product| %>
          <p><%= link_to product.name, product_path(product) %></li>
          <% end %>
        </div>
        <% else %>
        <p>We don't seem to have any products made in the USA. Sorry about that.</p>
        <% end %>
      </div>
      <div class="container extras">

        <h3>And here is our most reviewed product:</h3>
        <%= link_to Product.most_reviewed[0].name, product_path(Product.most_reviewed[0]) %>
      </div>
    </div>

  </div>
</div>
