<h1>Product: <%= @product.name %></h1>
<h2>Review Headline: <%= @review.title %></h2>
<h3>Author: <%= @review.author %></h3>
<h3>Review: <%= @review.content_body %></h3>

<p class="link"><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
<p class="link"><%= link_to "Delete review", product_review_path(@product, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p class="link"><%= link_to "Return to product", product_path(@product) %></p>
